<a href="https://colab.research.google.com/github/dhanubrinda/python/blob/basics/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
tup=("oranges","grapes","apples")
print(tup)

#tup[0]= "mango"#if u change/modify gives error..bc'z tuple object cannot be modified
print(tup)

print(tup[0:2])
print(tup[0:3])

tup2=(10,12)
tup3=tup+tup2 #concatenate two tuples..
print(tup3)

('oranges', 'grapes', 'apples')
('oranges', 'grapes', 'apples')
('oranges', 'grapes')
('oranges', 'grapes', 'apples')
('oranges', 'grapes', 'apples', 10, 12)

**Exercises**:

**1. Create a list of names and print the second item**

In [ ]:
list=['pavi','anu']
print(list)
print(list[1])#print the second item

['pavi', 'anu']
anu

**2.Create a list of sports and then replace the second item with another sport**

In [ ]:
sports=['hockey','footbal','cricket']
sports[0]='tennis'
print(sports)

['tennis', 'footbal', 'cricket']

**3. Create a list containing numbers and delete the fifth number from the array.**

In [ ]:

list_num=[5,6,8,4,9,7,2]
del list_num[5]
print(list_num)

[5, 6, 8, 4, 9, 2]

**4. Create two lists of numbers and merge them.**

In [ ]:
list1=[1,5]
list2=[2,4]
print(list1+list2)

[1, 5, 2, 4]

**5. Create a list of numbers and find the length, minimum, and maximum.**

In [ ]:
list=[1,3,7,9,10]
print(len(list))
print(max(list))
print(min(list))

5
10
1

**6. Create a dictionary of students and scores and print out a studentâ€™s score.**

In [ ]:
students={'bob':100,'lily':95}
print(students)
print(students['bob'])

{'bob': 100, 'lily': 95}
100

**7.Create a dictionary with the key being names and values being ages and then delete the second key/value pair.**

In [ ]:
students={'bob':10,'lily':25}
del students['bob']
print(students)

{'lily': 25}

**8. Create a dictionary of names and ages and then print out all the keys and values**

In [ ]:
data = {"Rachel": 17, "Rahul": 61, "Anna": 15}
print(data.keys)
print(data.values)

<built-in method keys of dict object at 0x7ad98c56ec40>
<built-in method values of dict object at 0x7ad98c56ec40>
{'Rachel': 17, 'Rahul': 61, 'Anna': 15}

**9. Create a tuple of your favorite movies**

In [ ]:
tup=("jodi","kushi","kgf")
print(tup)

('jodi', 'kushi', 'kgf')


**10. Create a tuple and print all the items from the first to third index.**

In [ ]:
tup=("red","yelow","black","blue")
print(tup[0:2])

('red', 'yelow')